<!Doctype html>
<html xmlns:th="http://thymeleaf.org" >
<head>
    <head th:replace="layout :: site-head"></head>
    <header th:replace="layout :: logged-out"></header>

<body>
<header th:fragment = "logged-out" th:remove="tag">
    <header>
        <div>
            <p>
                <a href="users/login.html" th:href="@{/users/login}">Login</a>
            </p>
            <p><a href="users/logout.html" th:href="@{users/logout}">Logout</a></p>
        </div>
    </header>
</header>
    <header th:fragment = "logged-in" th:remove="'tag">
        <header>
            <div>
                <p><a href="performAction.html" th:href="@{/performAction}">Perform new Action</a></p>
                <form method="post" th:action = "@{/users/logout}">
                    <input type="submit" value="logout"/>
                </form>
            </div>
        </header>
    </header>
</body>
</html>